.cardbox {
    /* Set initial opacity to 0 */
    /* Apply animation */
    cursor: pointer;
  }
  .cardbox:hover{
    transform: scaleX(1.0);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px 2px 4px rgba(226, 224, 224, 0.963);
  }
  
  /* Define the fadeIn animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Optional: Slide from bottom */
    }
    to {
      opacity: 1;
      transform: translateY(1);
    }
  }
  